.menu-container {
   width: 350px;
   height: 60px;
   background-color: #eeeeee;
   position: absolute;
   top: 0;
   left: calc(50% - 175px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.menu-button {
   width: 40px;
   height: 40px;
   border-radius: 8px;
   border: none;
   transition: 0.3s;
   background: #fff1dc;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.menu-button:hover {
   background: #e8d5c4;
}

.menu-button-active {
   background: #e8d5c4;
   transition: none;
}
